@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,500;1,200;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}


.mau-container {
    background-color: #2B2B2B;
}

.mau-header {
    background-color: #2B2B2B;
    color: white;
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    padding: 20px 50px;
    
}

.mau-header-trai {
    display: flex;
    align-items: center;

}
.mau-header .mau-header-trai  i {
    color: #A259FF;
}

.mau-header .mau-header-trai h3 {
    margin-left: 12px;
}

.mau-header-phai {
    list-style: none;
    align-items: center;
    display: flex;
}
.mau-header-phai-item{
    font-size: 16px;
    margin-left: 30px;

}
.mau-header-phai-item-con {
    display: flex;
    border-radius: 20px;  
    padding: 20px 20px 20px 20px;
    background-color: #A259FF;
    gap:10px;

}

.mau-header .icon-menu {
    display: none;
}

.mau-profile{

    height: 370px;
}
.mau-profile-nen {
    background-image: url(./Image\ PlaceHolder.png);
    background-size: cover;
    width: 100vw;
    height: 320px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.mau-profile-nen img {
    position: absolute;
    border-radius: 20px;
    bottom: -50px;
    left: 9%;
}


.mau-info {
    background-color:#2B2B2B;
    color: white;
    padding: 3% 9%;
}

.mau-info .tren {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.mau-info .tren .tren-phai {
    display: flex;
    gap: 20px;
}

.mau-info .tren .tren-phai .tren-phai-trai {
    display: flex;
    height: 60px;
    padding: 0px 50px;
    background-color: #A259FF;
    gap: 12px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;

}


.mau-info .tren .tren-phai .tren-phai-phai {
    display: flex;
    height: 60px;
    padding: 0px 50px;
    gap: 12px;
    outline: solid 1px #A259FF;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}



.duoi1 {
    display: flex;
    list-style: none;
    gap:20px;
    font-size: 28px;
    padding-bottom: 30px;
}


.chu {
    font-family: Work Sans;
    font-weight: 100;
    font-size: 22px;
}

.duoi1 {
    padding-bottom: 30px;
}

.duoi1 .cduoi1-chia {
    display: flex;
}

.duoi2{
    padding-bottom: 30px;
}


.duoi2 .duoi2-tren {
    color: #858584;
    font-family: Space ;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; 
    text-transform: capitalize;
}
.duoi2 .duoi2-duoi {
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
}


.cuoi .cuoi-tren {
    padding-bottom: 10px;
    color: #858584;
    font-family: Space Mono;
    font-size: 22px;
    font-style: normal;
}


.cuoi .cuoi-duoi i {
    width: 32px;
    height: 32px;
}





/* thanh tab */


.mau-tab {
    display: flex;
    margin-top: 10;
    justify-content: space-evenly;
}


.mau-tab .mau-tab-trai {
    color: white;
    display: flex;
    gap : 16px;
    padding: 0px 30px;
    align-items: center;
}


.mau-tab .mau-tab-trai .be {
    border-radius: 20px;
    background: #858584;
    padding: 5px 10px;
}


.mau-tab .mau-tab-giua {
    color: white;
    display: flex;
    gap : 16px;
    padding: 0px 30px;
    align-items: center;
    list-style: none;
}

.mau-tab .nooo{
    color: #858584;
}

.mau-tab .mau-tab-phai {
    color: white;
    display: flex;
    gap : 16px;
    padding: 0px 30px;
    align-items: center;
}

.mau-tab .tooo{
    background-color: #3B3B3B;
    padding: 5px 10px;
    border-radius: 20px;
}


.mau-card {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding: 3% 9%;
    column-gap: 30px;
    row-gap: 30px;
    color: #fff;
}

.mau-card .mau-card-info {
    background-color: #171717;
    border-radius: 25px;
}

.mau-card .mau-card-info .mau-card-info-tong {
    padding: 20px 30px 25px;
}


.mau-card .mau-card-info .mau-card-info-anh {
    width: 100%;
}

.mau-card .mau-card-info h5 {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 5px;
}



.mau-card .mau-card-info .info-be {
    display: flex;
    column-gap: 12px;
    margin-bottom: 25px;
}

.mau-card .mau-card-info .info-be img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}


.mau-card .mau-card-info .info-duoi {
    display: flex;
    justify-content: space-between;
}

.mau-card .mau-card-info .info-duoi p {
    color: #858584;
}





























